
            .navegacion{
                background-color: rgb(176, 176, 176)
                ;
            }
            body{
                background-color: #83C5BE;
            }
            #formulario{
                background-color: #EDF6F9;
            }
        